@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* resetndo toda a tela*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins' sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: #000;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 5.2rem;
    color: purple;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3 ease;
}

.logo:hover {
    transform: scale(1.1);

}

nav a {
    font-size: 3rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: purple;
    border-bottom: 3px solid purple;


}

@media(max-width:995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid purple;
        border-bottom: 3px solid purple;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: purple;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }


    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid purple;
        transform: scale(1.1);

    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: purple;
}

.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p {
    font-size: 2.5rem;
}

.home-img {
    border-radius: 10%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid purple;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid rgb(145, 36, 145);
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
    color: purple;
}

.social-icons a:hover {
    color: black;
    transform: scale(1.3) transparent;
    background-color: purple;
    box-shadow: 0 0 25px #b74b4b;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: purple;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid purple;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: purple;
    color: black;
    box-shadow: 0 0 25px purple;
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;

}

.typing-text span::before {
    content: "desenvolvedora";
    color: rgb(128, 0, 128);
    animation: words 20s infinite;
}

.typing-text span::after {
    content: "web";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid;
    }
}

@keyframes words {

    0%,
    20% {
        content: "desenvolvedora";
    }

}

@media(max-width: 100px) {
    .home {
        gap: 4rem;
    }
}

@media(max-width:995px) {
    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home.home-content h3 {
        font-size: 2.5rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        width: 70vw;
        margin-top: 4rem;

    }
}

/*segunda section */
.skills-section {
    background-color: rgba(29, 21, 31, 0.772);
    color: #fff;
    padding: 40px 20px;
    margin-top: 50px;
}

.skills-section .div-main2 .titulo h2 {
    font-size: 6rem;
    margin-bottom: 40px;
    /* Aumenta o espaço entre o título e as imagens */
    color: #ab47bc;
    text-align: center;
    position: relative;
}

.skills-section h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #973da7;
    margin: 10px auto;
}

.div-main2 {
    max-width: 1200px;
    margin: 0 auto;
}

.imagem-texto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 110px;
}

.imagem-texto img {
    width: 420px;
    margin-right: 10px;
}

.imagem-texto p {
    max-width: 600px;
    font-size: 3rem;
    line-height: 1.5;
    text-align: left;
    /* Alinha o texto à esquerda */
}

.card-fotos-skills {
    display: flex;
    /* Define flexbox para alinhar as imagens em linha */
    justify-content: center;
    /* Centraliza as imagens */
    gap: 10px;
    /* Espaçamento entre as imagens */
    margin-top: 20px;
    /* Espaçamento superior para separar as imagens do texto */
    margin-bottom: 40px;
    margin-top: 40px;
}

.card-fotos-skills img {
    width: 95px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    border-radius: 12%;
}

/* ------------------------------------------------------------------------------------ */
/*3 - section*/
.education-section {
    padding: 50px 20px;
    background-color: #000;
    /* Fundo preto */
    color: #fff;
    text-align: center;
}

.education-section h2 {
    font-size: 6rem;
    /* Aumentado para destacar mais */
    margin-bottom: 55px;
    color: #fff;
    /* Mantido branco para melhor contraste */
}

.timeline {
    position: relative;
    margin: 100px auto;
    padding: 10px 0;
    width: 70%;
    max-width: 600px;
}

.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background-color: #ff00ff;
    /* Cor rosa neon */
}

.timeline-item {
    position: relative;
    margin: 20px 0;
    width: 500px;
    margin-left: -130px;
}

.timeline-item2 {
    position: relative;
    margin: 20px 0;
    width: 500px;
    margin-left: 230px;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
}

.timeline-year {
    font-size: 25px;
    margin-bottom: 10px;
    background-color: #ff00ff;
    /* Cor rosa neon */
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

.timeline-content h3 {
    color: #000;
}

.timeline-content {
    background-color: #ff00ff;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    /* Ajustado para ser ligeiramente maior */
    max-width: 110%;
    color: white;

    font-size: 20px;
}


.timeline-item:nth-child(even) .timeline-content {
    left: -50%;
    transform: translateX(50%);
    text-align: right;
}

.timeline-item:before {
    content: '';
    position: absolute;
    top: 15px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background-color: #ff00ff;
    /* Cor rosa neon */
    border-radius: 50%;
    z-index: 1;
}

/* espaçamento section */
.education-section {
    margin-bottom: 20px;
    /* Diminui o espaço abaixo da seção */
    padding-top: 50px;
    /* Ajuste este valor para descer a linha do tempo */
    margin-top: 20px;
    /* Diminui o espaço acima da próxima seção */
}

.skills-section {
    margin-top: 40px;
    /* Diminui o espaço acima da próxima seção */
    margin-bottom: -200px;
    /* Diminui o espaço abaixo da seção */
}


/* Section Projects*/
.projects h2{
    align-items: center;
    justify-content: center;
    font-size: 70px;
    margin-top: -170px;
    color: #ab47bc;
    margin-bottom: 90px;
}
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%; /* Ocupa toda a largura disponível */
    background-color:rgba(29, 21, 31, 0.772);
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo dentro do item */
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima para não ocupar toda a tela */
    margin: 0 auto 40px auto; /* Centraliza o item e adiciona espaço inferior */
}

.project-image {
    margin-right: 20px; /* Espaço entre a imagem e o texto */
}

.project-image img {
    width: 100%;
    max-width: 500px; /* Define a largura máxima da imagem */
    border-radius: 10px; /* Bordas arredondadas, opcional */
}

.project-text {
    max-width: 600px;
    font-size: 1.8rem;
    text-align: justify;
    color: white;
}

.projects h3{
    margin-bottom: 40px;
    color: whitesmoke;
    font-size: 30px ;
    display: flex;
    flex-direction: celumn;
    align-items: center;
    justify-content: center;
}
.projects p{
    font-size: 2.2rem;
}
